header section.logo span {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}
header  {
  margin-bottom:30px;
}
header nav {
  width: 410px;
}
header nav ul {
  list-style: none;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  padding: 5px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0);
  cursor: pointer;
}
header nav ul li a {
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
header nav ul li a:hover {
  border-bottom: 2px solid #1c7330;
  color: #1c7330;
}
header .overlay {
  position: absolute;
  left: 0px;
  top: 42px;
  opacity: 0%;
  display: none;
  background-color: rgb(0, 0, 0);
  height: calc(100vh - 42px);
  width: calc(100% - 270px);
}
header i.fas {
  display: none;
  font-size: 21px;
}
.hide-y {
  overflow-y: hidden;
}
@media (min-width: 768px) {
  header .overlay {
    display: none !important;
  }
}
@media (max-width: 767px) {
  header i.fas {
    display: block;
    cursor: pointer;
  }
  header nav {
    position: absolute;
    right: 0px;
    top: 42px;
    background-color: #fdfdfd;
    height: calc(100vh - 42px);
    width: 270px;
    transform: translateX(calc(100% + 24px));
    transition: transform 0.5s ease-in-out;
    box-shadow: 17px 25px 7px 17px #000;
  }
  header nav ul {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  header nav ul li {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
.show-links {
  transform: translateX(0);
}
@keyframes linksfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes showoverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 53%;
  }
}
main > .container {
  justify-content: space-between;
  align-items: center;
}
main > .container > div {
  width: 44%;
}
main > .container > div:first-of-type > h1 > span {
  color: #1d7732;
}
main > .container > div:first-of-type > h2 {
  color: rgba(0, 0, 0, 0.78);
}
main > .container > div:first-of-type > p,
.container > section#about-me p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 6px;
  line-height: 155%;
}
main > .container > div:first-of-type > button {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background: #0f6bff;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 13px;
  transition: all 0.25s ease-in-out;
}
main > .container > div:first-of-type > button a {
  color: #fff;
}
main > .container >  div:first-of-type > button:hover {
  background: #fff;

  border: 1px solid #0f6bff;
}
main > .container > div:first-of-type > button:hover a {
  color: #0f6bff;
}
@media (max-width:768px) {
  main > .container > div:first-of-type > button{margin-top: 6px;padding: 7px;width: 200px;}
  main > .container > div:first-of-type {text-align: center; width: 100%;}
  main > .container > div:first-of-type > h1{font-size: 21px;}
  main > .container > div:first-of-type > h2{font-size: 15px;} 
  main > .container > div:first-of-type > p{font-size: 14px;}
  main > .container > div:nth-of-type(2){display: none;}

}
@media (min-width:769px) and (max-width:992px) {
  main > .container > div:first-of-type > button{margin-top: 6px;padding: 7px;}
  main > .container > div:first-of-type > h1{font-size: 26px;}
  main > .container > div:first-of-type > h2{font-size: 20px;} 
  main > .container > div:first-of-type > p{font-size: 14px;}
}
.container > section {
  margin-top: 20%;
}
.container > section#about-me > div.left > img {
  width: 93%;
}
.container > section#about-me > .left {
  width: 50%;
}
.container > section#about-me h2 {
  margin-top: 30px;
}
.container > section#about-me ul {
  list-style: none;
  margin-top: 10px;
}
.container > section#about-me ul li {
  float: left;
  margin-right: 40px;
}
.container > section#about-me ul li img {
  margin: -5px 0;
}
#contact-me .title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #2e2e2e;
  margin-top: 70px;
}
#contact-me-form {
  margin-top: 50px;
  width: 90%;
}
#contact-me-form * {
  display: block;
}
#contact-me-form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}
#contact-me-form input,
#contact-me-form textarea {
  border: 1px solid #2e2e2e;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
#contact-me-form input:focus,
#contact-me-form textarea:focus {
  box-shadow: 0 0 4px 0px #24943e;
  border: 1px solid #24943e;
}
button#send,
#my-projects button {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  background-color: #24943e;
  color: #fff;
  border-radius: 4px;
  border: 2px solid transparent;
  text-align: center;
  font-weight: bold;
  transition: all ease-in-out 0.25s;
}
#my-projects button a {
  color: #fff;
}
button#send:hover,
#my-projects button:hover {
  background-color: #fff;
  color: #24943e;
  border: 2px solid;
}
#my-projects button:hover a {
  color: #24943e;
}
#contact-me .right {
  margin-top: 7%;
}
#my-projects h1 {
  text-align: center;
  margin-bottom: 50px;
}
#my-projects > .portofolio > div {
  width: 32%;
  padding: 5px;
  margin-right: 1.34%;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #e3e3e3a8;
  border: 1px solid #e3e3e3;
  float: left;
}
#my-projects > .portofolio > div > img {
  width: 100%;
  border: 1px solid #eaeaea;
}
