/* Main Classes*/
* {
  font-family: "Nunito";
  box-sizing: border-box;
  margin: 0px;
  outline: 0px;
  resize: none;
  color: #2e2e2e;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  background: #fcfcfc;
}
a {
  text-decoration: none;
}
/* To delelte */
.right,
.left {
  float: right;
  width: 47.5%;
}
.left {
  float: left;
}
/* End To delelte */
.h1 {
  font-size: 32px;
}
.text-center{text-align: center;}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.thumbnail{
  border-radius: 10px;
  padding: 10px;
  background: #eee;
}
main,
section#about-me {
  margin-bottom: 150px;
}
@media (max-width: 767px) {
  main,
  section#about-me {
    margin-top: 30px;
    
  }
  .container {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .container {
    width:100%;
  }
  main,
  section#about-me {
    margin-top: calc(50vw - 375px);
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
  main,
  section#about-me {
    margin-top: calc(50vw - 496px);
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  main,
  section#about-me {
    margin-top: calc(50vw - 585px);
  }
}
header {
  width: 100%;
  background-color: #fdfdfd;

  padding: 10px;
  box-shadow: 0 0 3px 1px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-error {
  background-color: hsl(0, 81%, 81%);
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 81%, 24%);
  border: 1px solid;
  margin-bottom: 20px;
  margin-top: 38px;
}
.success {
  background-color: hsl(133.9, 60.9%, 88.1%);
  color: hsl(133.9, 60.9%, 31.1%);
}
.resp-img {
  width: 100%;
}
