/* Main Classes*/
* {
  font-family: "Nunito";
  box-sizing: border-box;
  margin: 0px;
  outline: 0px;
  resize: none;
  color: #2e2e2e;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  background: #fcfcfc;
}
a {
  text-decoration: none;
}
/* To delelte */
.right,
.left {
  float: right;
  width: 47.5%;
}
.left {
  float: left;
}
/* End To delelte */
.container {
  margin: 15.38% 9.51%;
  width: 80.98%;
}
header {
  width: 100%;
  background-color: #fdfdfd;

  padding: 10px;
  box-shadow: 0 0 3px 1px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-error {
  background-color: hsl(0, 81%, 81%);
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 81%, 24%);
  border: 1px solid;
  margin-bottom: 20px;
  margin-top: 38px;
}
.success {
  background-color: hsl(133.9, 60.9%, 88.1%);
  color: hsl(133.9, 60.9%, 31.1%);
}
